{% extends 'base.html.twig' %}

{% block title %}Trading{% endblock %}

{% block body %}
    <div class="container-fluid mb-auto">
        <div class="row">
            {{ include('trading/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
