{% extends 'base.html.twig' %}

{% block title %}Données de marché{% endblock %}

{% block body %}
    <div class="container-fluid mb-auto">
        <div class="row">
            <div class="col p-3">
                <h1 class="h2 text-primary text-center mb-3">Données de marché</h1>
                <div class="row row-cols-1 row-cols-md-2 g-4" data-controller="tabbable">
                    {{ include('home/_ticker_infos.html.twig') }}
                    {{ include('home/_tv_widget.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}