{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
    <div class="container-fluid mb-auto">
        <div class="row">
            <div class="col p-3">
                <h1 class="h2 text-primary text-center mb-3">Statistiques</h1>
                <div class="row">
                    <div class="col-12 col-md-5 mb-md-0 mb-3">
                        {{ include('statistic/_asset.html.twig') }}
                    </div>
                    <div class="col-12 col-md-7">
                        {{ include('statistic/_opportunity.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
