<div class="col col-lg-4">
    <div class="card border-primary border-rounder-full bg-dark h-100">
        <div class="d-flex align-items-start h-100">
            <div class="card-header-rounder-2 bg-dark h-100">
                <div class="nav flex-column nav-pills p-2" role="tablist">
                    {% for ticker in tickers %}
                        <button class="nav-link tabbable text-white {% if loop.first %}active{% endif %}"
                                data-action="tabbable#show" data-class=".tabbable-{{ ticker.id }}" type="button"
                                role="tab">{{ ticker.name }}
                        </button>
                    {% endfor %}
                </div>
            </div>
            <div class="card-body bg-light opacity-10 overflow-hidden h-100 p-2 position-relative">
                <div id="ticker-loading" class="d-none justify-content-center align-items-center position-absolute">
                    <div class="spinner-border spinner-loading text-primary" role="status">
                        <span class="visually-hidden">Chargement...</span>
                    </div>
                </div>
                {{ include('home/_tickers_data.html.twig') }}
            </div>
        </div>
    </div>
</div>