{% extends 'base.html.twig' %}

{% block title %}Console{% endblock %}

{% block body %}
<div class="container-fluid bg-primary mb-auto d-flex flex-grow-1">
    <div class="container text-white my-4">
        <div class="row">
            <div class="col">
                <samp id="console">_</samp>
            </div>
        </div>
    </div>
</div>
{% endblock %}
