<div class="card border-primary border-rounder-full bg-transparent h-100">
    <div class="card-header-rounder-2">
        <p class="bg-primary text-white text-center h5 pt-1 pb-2 mb-0">Assets</p>
    </div>
    <div>
        {{ include('statistic/_chart.html.twig', {chart: assetsChart}) }}
    </div>
</div>