{{ form_row(form.sellMarket) }}
{{ form_row(form.sellTicker) }}
<div id="sellMarket-orderbook"
     data-sell-market="{{ form.sellMarket.vars.value }}"
     data-sell-ticker="{{ form.sellTicker.vars.value }}">
</div>