<turbo-stream action="replace" target="{{ stream_target }}">
    <template>
        <div class="orderbook card border-primary border-rounder-full my-3">
        <table class="table table-sm table-dark mb-0">
            <thead>
                <tr>
                    <th class="orderbook-header" scope="col">Price(USDT)</th>
                    <th class="orderbook-header" scope="col">Amount(FLUX)</th>
                    <th class="orderbook-header" scope="col">Total</th>
                </tr>
            </thead>
        </table>
        <table class="table table-sm table-dark mb-0">
            <tbody>
                <tr>
                    <td class="price-sell">745.00000</td>
                    <td>0.00134228</td>
                    <td>324.00050</td>
                </tr><tr>
                    <td class="price-sell">744.99990</td>
                    <td>0.00134228</td>
                    <td>0.25329</td>
                </tr><tr>
                    <td class="price-sell">718.00000</td>
                    <td>0.00139275</td>
                    <td>127.58142</td>
                </tr>
            </tbody>
        </table>
        <section class="divider">
            <div class="current-price">715.00000</div>
        </section>
        <table class="table table-sm table-dark mb-0">
            <tbody>
            <tr>
                <td class="price-buy">0.00200</td>
                <td>500.00000000</td>
                <td>1.00000</td>
            </tr><tr>
                <td class="price-buy">0.00010</td>
                <td>10000.00000000</td>
                <td>0.00100</td>
            </tr><tr>
                <td class="price-buy">0.00001</td>
                <td>100000.00000000</td>
                <td>0.10100</td>
            </tr>
            </tbody>
        </table>
    </div>
    </template>
</turbo-stream>