<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid py-2 justify-content-center">
        <small class="text-white">
            &copy; 2021 ccxt-quant-bot - Made with <i class="bi bi-heart-fill text-danger"></i>
        </small>
    </div>
</nav>