<div class="d-flex align-items-end d-print-none" data-controller="export">
    <button data-bs-toggle="tooltip" data-bs-placement="top" title="Imprimer la liste" class="btn btn-link px-1 py-0" data-action="export#print" data-orientation="landscape"><i class="bi bi-printer-fill fs-5"></i></button>
    <button data-action="export#pdf"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Exporter la liste en PDF" class="btn btn-link px-1 py-0"><i class="bi bi-file-earmark-pdf-fill fs-5"></i></button>
</div>