{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-center mt-3 mb-2">
        <button type="submit" class="btn btn-primary mx-auto">Enregistrer <i class="bi bi-save ms-1"></i></button>
    </div>
{{ form_rest(form) }}
{{ form_end(form) }}
