{% extends export is defined ? 'pdf/base.html.twig' : 'base.html.twig' %}

{% block title %}Ordres{% endblock %}

{% block body %}
    <div id="print-content" class="container-fluid mb-auto">
        <div class="row">
            <div class="col p-3">
                <h2 class="text-primary text-center mb-3">Ordres</h2>
                <div id="orders" {{ turbo_stream_listen('App\\Entity\\Order') }}>
                    {{ include('order/_list.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}