{% extends export is defined ? 'pdf/base.html.twig' : 'base.html.twig' %}

{% block title %}Opportunités d'arbitrage{% endblock %}

{% block body %}
    <div id="print-content" class="container-fluid mb-auto">
        <div class="row">
            <div class="col p-3">
                <h2 class="text-primary text-center mb-3">Opportunités d'arbitrage</h2>
                <div id="opportunities" {{ turbo_stream_listen('App\\Entity\\Opportunity') }}>
                    {{ include('opportunity/_list.html.twig') }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="logModal" tabindex="-1" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white py-2 px-4">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mb-2"><small><samp></samp></small></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="orderModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white py-2 px-4">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mb-2"></div>
            </div>
        </div>
    </div>

{% endblock %}