{% extends 'base.html.twig' %}

{% block title %}Console{% endblock %}

{% block body %}
<div class="container-fluid console-wrapper bg-primary">
    <div class="container text-white my-4 px-0">
        <div class="row">
            <div class="col">
                <samp id="console">_</samp>
            </div>
        </div>
    </div>
</div>
{% endblock %}
