// customize some Bootstrap variables
$primary: darken(#428bca, 20%);
$darkest: #212529;
$offcanvas-bg-color: $darkest;
$card-border-radius: 12px;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

body {
  background-color: $gray-200;
}

.fs-small {
  font-size: .8em;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.card-header-rounder-2 {
  border-radius: 10px 0 0 10px;
}

.border-rounder-full {
  border-radius: 10px;
  overflow: hidden;
}

#ticker-loading {
  z-index: 1000;
  width: 95%;
  height: 97%;
  backdrop-filter: blur(2px);
}

.spinner-loading {
  width: 3rem;
  height: 3rem;
}

.console-wrapper {
  min-width: max-content;
  display: flex;
  flex-grow: 1;
}

#console {
  font-size: .7em;
  font-weight: lighter;
}

nav.navbar {
  height: 50px;

  .navbar-toggler {
    background-image: none;
    border: none;
  }
}

button.navbar-toggler, button.navbar-brand {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.offcanvas {
  height: max-content;

  > .offcanvas-header {
    padding-top: .6rem;
  }
}

#robot {
  font-size: 32px;
}

.fade-in {
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: $darkest;
}
::-webkit-scrollbar-thumb {
  background: $secondary;
}

/* Litepicker Styling */
.litepicker .container__months .month-item-header div {
  & >select.month-item-name {
    margin-right: 5px;
    border: none;
  }
  & >select.month-item-year {
    padding-right: 15px;
    border: none;
  }
}

.toast-container {
  z-index: 1001;
  position: fixed;
  bottom: 1.3rem;
  right: 0;
}
.toast-body {
  color: $gray-200;
}