// customize some Bootstrap variables
$primary: darken(#428bca, 20%);
$offcanvas-bg-color: #212529;
$card-border-radius: 12px;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

.card-header-rounder-2 {
  border-radius: 10px 0 0 10px;
}